@font-face {
  font-family: 'Robotoslablight';
  src: url('/src/fonts/Robotoslablight.ttf');
  src: url('/src/fonts/Robotoslablight.woff');
  src: url('/src/fonts/Robotoslablight.woff2');
}

@font-face {
  font-family: 'Robotoslabmedium';
  src: url('/src/fonts/Robotoslabmedium.ttf');
  src: url('/src/fonts/Robotoslabmedium.woff');
  src: url('/src/fonts/Robotoslabmedium.woff2');
}

